<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="public/assets/vision.png" />
    <title> Light Field Viewer </title>
    <link rel="stylesheet" href="public/css/style.css">
    <!-- script js --> 
</head>

<body class="vsc-initialized">
  <header>
    <div class="header-image"></div>
    <div class="header-text">
      <h1 style="margin-left: 9vmin;"> Light Field Viewer </h1>
    </div>
  </header>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2>Hello There, let me guide you to the better experience using our image viewer!</h2>
      </div>
      <div class="modal-body">
        <p>Click on the button of the desired dataset to load it and visualize!</p>
        <p>You can change the point of view moving along the point matrix. You need to choose the dataset first to be able to see the matrix!</p>
        <p>You can use the slider to change the focus of the image selected.</p>
        <p>Don't be shy, you can play as much as you want! </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column side">
      <h2> Datasets </h2>
      <button id="greek">Greek</button>
      <button id="bike">Bikes</button>
      <button id="sideboard">SideBoard</button>
      <button id="tarot">Tarot Cards</button>
      <button id="danger">Danger de Mort</button>
      <button id="fountain">Fountain Vincent 2</button>
      <button id="stone">Stone Pillars Outside</button>
      <button id="lab">Poznan Laboratory 1</button>
      <button id="airplane">Airplane</button>
      
      <button class="help-button" id="help" title="Help"> ? </button>
    </div> 

    <div class="column middle" id="container">
      <div class="lfv-canvas">   
        <img id="mainImage">
      </div>          
    </div>

    <div class="column side">
      <h2> Set Focal Plane </h2>
      <div class="fpc-container">
        <div class="fpc-controls">
            <svg class="fpc-figure" id="flor">
                <path d="M14,22 l0,-8 c0,0,6,-3,6,-6 c0,-3,-2,-6,-2,-6 l-2,4 l-3,-4 l-3,4 l-2,-4 c0,0,-2,3,-2,6 c0,3,6,6,6,6 l0,8 l-10,-8 c0,0,0,10,7,10 l8,0 c7,0,7,-10,7,-10 Z" data-reactid=".0.1.0.0.0.0"></path>
            </svg>
            <div class="fpc-slider">
                <div class="fpc-slider__track">
                  <input type="range" min="1" max="1000" step="0.1" class="fpc-slider__handle-container"  id="sliderRange">
                </div>
            </div>
            <svg class="fpc-figure" id="montanhas">
                <path d="M16,2 l9,20 l-17,0 Z" data-reactid=".0.1.0.0.2.0"></path>
                <path d="M6,10 l3,5 l-3,7 l-5,0 Z" data-reactid=".0.1.0.0.2.1"></path>
            </svg>
        </div>
      </div>
      <h2 style="margin-top: 8vmin;"> Set Point of View </h2>
      <div id="povContainer">
        <div id="pov"></div>
      </div>
    </div>
  </div>
  <footer>
    <p> 2022 @ Developed by: Izadora Bandoch and Harllon Oliveira da Paz </p>
    <p style="color: rgba(255, 255, 255, 0.5); text-align: right;">
      Layout v2.0
    </p>
  </footer>
  <script src="/javascript/requisition.js"></script> <!--tem que inserir no head, mas não vi o cod pq a matriz deve estar sendo inserida imediatamente no cod-->
  <script src="/javascript/helpModal.js"></script>
  <script src="/javascript/viewPoint.js"></script>
  <script src="/javascript/refocus.js"></script>
  <script src="/javascript/lightField.js"></script>
  <script src="/javascript/loadImage.js"></script>
  <canvas class="img" id="cv"></canvas>
</body>
</html>